<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/assets/css/layout.css" />
    <title>Survey Form</title>
</head>
<body id="survey-body" dir="ltr">
    
    <!-- Start Servuy Form -->
    <div class="mainpart">
        <div class="upperhead">
            <div class="uppersub">
                <div class="container subhead">
                    <h1 id="fill">Please fill Survey 😊</h1>
                    <p>
                        <q id="qo">
                            Children are human beings to whom respect is due, superior to us by reason of their innocence and of the greater possibilities of their future
                        </q>
                    </p>
                    <button id="change-language">Change Language</button>
                </div>
            </div>
            <form action="/predict" method="get" enctype="multipart/form-data" >
                
            <div class="container survform">
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he1">
                                    Question: 1
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q1">
                                        Do you feel happy when others suffer?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question1" id="yes" value="yes">
                                            <label for="yes" id="ya1">YES</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question1" id="no" value="no">
                                            <label for="no" id="na1">NO</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he2">
                                    Question: 2
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q2">
                                        Do you prefer games that are based on violence?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question2" id="yes2" value="yes">
                                            <label for="yes2" id="ya2">YES</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question2" id="no2" value="no">
                                            <label for="no2" id="na2">NO</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he3">
                                    Question: 3
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q3">
                                        Do you have severe emotional outbursts?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question3" id="yes3" value="yes">
                                            <label for="yes3" id="ya3">YES</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question3" id="no3" value="no">
                                            <label for="no3" id="na3">NO</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he4">
                                    Question: 4
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q4">
                                        Do you bully others physically or online?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question4" id="yes4" value="yes">
                                            <label for="yes4" id="ya4">YES</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question4" id="no4" value="no">
                                            <label for="no4" id="na4">NO</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he5">
                                    Question: 5
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q5">
                                        Do you feel angry or lose your temper often?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question5" id="yes5" value="yes">
                                            <label for="yes5" id="ya5">YES</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question5" id="no5" value="no">
                                            <label for="no5" id="na5">NO</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he6">
                                    Question: 6
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q6">
                                        Have you ever been cruel to an animal?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question6" id="yes6" value="yes">
                                            <label for="yes6" id="ya6">YES</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question6" id="no6" value="no">
                                            <label for="no6" id="na6">NO</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he7">
                                    Question: 7
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q7">
                                        Are your parents wanted by the police or have they committed a crime before?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question7" id="yes7" value="yes">
                                            <label for="yes7" id="ya7">YES</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question7" id="no7" value="no">
                                            <label for="no7" id="na7">NO</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he8">
                                    Question: 8
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q8">
                                        Any of these actions you have done before or are still doing:<br>
                                        &dot;Trespassing<br>
                                        &dot;School Escape<br>
                                        &dot;Threatening Your Colleagues<br>
                                        &dot;You have physical injuries from fights<br>
                                        &dot;You're hitting your Colleagues or others in fights<br>
                                        &dot;Frequent refusal to command parents or others in authority<br>
                                        &dot;Drug abuse, cigarettes, hookah or drinking alcohol
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question8" id="yes8" value="yes">
                                            <label for="yes8" id="ya8">YES</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question8" id="no8" value="no">
                                            <label for="no8" id="na8">NO</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he9">
                                    Question: 9
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q9">
                                        Did your father lose his job sometime for a long time?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question9" id="yes9" value="yes">
                                            <label for="yes9" id="ya9">YES</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question9" id="no9" value="no">
                                            <label for="no9" id="na9">NO</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he10">
                                    Question: 10
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q10">
                                        Is there a family member addicted to alcohol or drugs?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question10" id="yes10" value="yes">
                                            <label for="yes10" id="ya10">YES</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question10" id="no10" value="no">
                                            <label for="no10" id="na10">NO</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he11">
                                    Question: 11
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q11">
                                        When you get into a fight, what you use?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question11" id="Brick" value="yes">
                                            <label for="Brick" id="sa1">Brick or Stone</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question11" id="weapon" value="no">
                                            <label for="weapon" id="sa2">White weapon (razor, knife)</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question11" id="power" value="no">
                                            <label for="power" id="sa3">Use your power</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he12">
                                    Question: 12
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q12">
                                        What would you do if you witnessed someone being abused?
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question12" id="help" value="yes">
                                            <label for="help" id="ya12">You'll help him/her</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question12" id="nohelp" value="no">
                                            <label for="nohelp" id="na12">You'll ignore him/her</label>
                                        </li>
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subofsurvform">
                    <div class="questions">
                        <div class="ques">
                            <div class="questitle">
                                <span id="he13">
                                    Question: 13
                                </span>
                            </div>
                            <div class="divider"></div>
                            <div class="answers">
                                
                                    <p id="q13">
                                        What is your parental education level? (either of them)
                                    </p>
                                    <ul>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question13" id="Uneducated" value="Uneducated">
                                            <label for="Uneducated" id="fa1">Uneducated</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question13" id="education" value="universityeducation">
                                            <label for="education" id="fa2">At least one of the parents or both have a university education</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question13" id="BothParents" value="highschool">
                                            <label for="BothParents" id="fa3">Both parents have a high school diploma</label>
                                        </li>
                                        <li>
                                            <input class="form-check-input" type="radio" name="question13" id="lessHighEdu" value="Lesshighschool">
                                            <label for="lessHighEdu" id="fa4">Parents have less than a high school diploma</label>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="submitform" type="submit">
                <span id="sub">Submit Form</span>
                <span>
                    <svg width="17" height="20" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.5384 13.6035C22.1522 12.9932 22.1522 12.002 21.5384 11.3916L13.6813 3.5791C13.0674 2.96875 12.0705 2.96875 11.4567 3.5791C10.8429 4.18945 10.8429 5.18066 11.4567 5.79102L16.6375 10.9375H1.57143C0.702232 10.9375 0 11.6357 0 12.5C0 13.3643 0.702232 14.0625 1.57143 14.0625H16.6326L11.4616 19.209C10.8478 19.8193 10.8478 20.8105 11.4616 21.4209C12.0754 22.0313 13.0723 22.0313 13.6862 21.4209L21.5433 13.6084L21.5384 13.6035Z" fill="white"/>
                        </svg>
                        
                </span>
            </button>
            </form>
        </div>
        
    </div>
    <!-- End Servuy Form -->
    <script src="../static/assets/js/main.js"></script>
</body>
</html>